@import 'helpers/mixins.styl'
@import 'helpers/var.styl'

@import 'base/font.styl'
@import 'base/base.styl'

@import 'blocks/loader.styl'
@import 'blocks/btn.styl'
@import 'blocks/form.styl'
@import 'blocks/section-page.styl'

@import 'blocks/header.styl'
@import 'blocks/logo.styl'
@import 'blocks/social.styl'
@import 'blocks/panel.styl'

@import 'blocks/main.styl'
@import 'blocks/section.styl'
@import 'blocks/grid.styl'
@import 'blocks/area-section.styl'
@import 'blocks/description-section.styl'
@import 'blocks/released-section.styl'
@import 'blocks/project.styl'
@import 'blocks/place.styl'
@import 'blocks/report-section.styl'

@import 'blocks/news-list.styl'
@import 'blocks/news-item.styl'
@import 'blocks/full-news.styl'
@import 'blocks/aside.styl'

@import 'blocks/detail-news2.styl'
@import 'blocks/full-news2.styl'

@import 'blocks/area-section-page.styl'
@import 'blocks/progress.styl'

@import 'blocks/account-section-page.styl'
@import 'blocks/content.styl'

@import 'blocks/news-slider.styl'
@import 'blocks/news-item-sl.styl'

@import 'blocks/footer.styl'
@import 'blocks/menu.styl'
@import 'blocks/text-block.styl'
