.area-section
    position relative
    padding-top-f(60)
    padding-bottom-f(100)

    &__bg-dark
        position absolute
        top 0
        left 0
        right 0
        bottom 0
        background-color rgba(0, 0, 0, .65)

    &_pt-big
        padding-top-f(90)
