.content
    text-align center

    &__balance
        font-size-f(48)
        text-transform uppercase
        margin-bottom-f(67)
        color $black

        span
            color $alizarin-crimson

    &__btn
        margin-bottom-f(400)

        button
            font-size-f(35)
            padding-top-f(18)
            padding-bottom-f(18)
            padding-left-f(28)
            padding-right-f(28)
            font-family Scada

    &__btns-wrap
        font-size 0

        button
            font-size-f(38)
            text-transform uppercase
            border 3px solid $tundora
            color $alizarin-crimson
            background-color transparent
            width-f(500)
            height-f(147)

            &:first-child
                margin-right-f(43)

            &:hover
                background-color #efefef
