.description-section
    position relative
    background-color $bay-of-many
    font-size 0
    padding-top-f(50)
    padding-bottom-f(50)
    z-index 9

    &:after
        content ""
        background-image url(../img/footer-bg.png)
        background-position center
        background-size cover
        opacity .4
        top 0
        left 0
        bottom 0
        right 0
        position absolute
        z-index -1
