.logo
    {ibt}
    padding 2px
    border-radius 10px

    &:focus
        outline none
        box-shadow 0 0 0 1px $white

    &__img
        {ibm}
        width-f(145)
        height auto

        @media(min-width 480px)
            margin-right-f(43)

    &__text
        {ibm}
        font-size-f(43)
        font-family Futuris
        font-weight 700
        margin-top 0
        margin-bottom 0

        &_white
            display none
            color $white

            @media(min-width 480px)
                {ibm}

        &_blue
            color $bay-of-many
