.news-list
    padding-right 0

    @media (min-width 870px)
        padding-right-f(600)

    &__item
        padding-top-f(48)
        padding-bottom-f(77)

        &:not(:last-child)
            border-bottom 1px solid $tundora
