.section-page
    padding-top-f(80)
    padding-bottom-f(100)

    &__title
        position relative
        font-size-f(45)
        font-weight 300
        text-transform uppercase
        text-align center
        margin-bottom-f(40)
        margin-top 0
        z-index 2

        @media (min-width 768px)
            font-size-f(53)
            margin-bottom-f(70)

    &__message
        position relative
        font-size-f(45)
        border 3px solid $alizarin-crimson
        text-align center
        padding-top-f(60)
        padding-bottom-f(60)
        max-width-f(1060)
        margin-left auto
        margin-right auto
        text-transform uppercase
        margin-top-f(210)
        margin-bottom-f(210)
        z-index 2

        @media (min-width 768px)
            font-size-f(53)

    &__btn
        text-align center
        margin-top-f(100)
