clearfix()
    &:after
        content ""
        display table
        clear both

hyphens()
    word-wrap break-word
    overflow-wrap break-word
    -webkit-hyphens auto
    -ms-hyphens auto
    -moz-hyphens auto
    hyphens auto

ellipsis()
    text-overflow ellipsis
    white-space nowrap
    overflow hidden

font-size-f(size)
    font-size (size)px
    font-size (size/16)rem

width-f(size)
    width (size)px
    width (size/16)rem

max-width-f(size)
    max-width (size)px
    max-width (size/16)rem

min-width-f(size)
    min-width (size)px
    min-width (size/16)rem

height-f(size)
    height (size)px
    height (size/16)rem

max-height-f(size)
    max-height (size)px
    max-height (size/16)rem

min-height-f(size)
    min-height (size)px
    min-height (size/16)rem

left-f(size)
    left (size)px
    left (size/16)rem

right-f(size)
    right (size)px
    right (size/16)rem

top-f(size)
    top (size)px
    top (size/16)rem

bottom-f(size)
    bottom (size)px
    bottom (size/16)rem

margin-right-f(size)
    margin-right (size)px
    margin-right (size/16)rem

margin-left-f(size)
    margin-left (size)px
    margin-left (size/16)rem

margin-top-f(size)
    margin-top (size)px
    margin-top (size/16)rem

margin-bottom-f(size)
    margin-bottom (size)px
    margin-bottom (size/16)rem

padding-right-f(size)
    padding-right (size)px
    padding-right (size/16)rem

padding-left-f(size)
    padding-left (size)px
    padding-left (size/16)rem

padding-top-f(size)
    padding-top (size)px
    padding-top (size/16)rem

padding-bottom-f(size)
    padding-bottom (size)px
    padding-bottom (size/16)rem

text-indent-f(size)
    text-indent (size)px
    text-indent (size/16)rem

ibt =
    display inline-block
    vertical-align top

ibm =
    display inline-block
    vertical-align middle

ibb =
    display inline-block
    vertical-align bottom
