$tundora = #404040
$gray = #7f7f7f
$bay-of-many = #264b8a
$bahama-blue = #006493
$steel-blue = #4980bc
$curious-blue = #1e9dcf
$alizarin-crimson = #e31e24
$milano-red = #b22600
$bright-red = #a40000
$turbo = #FFE400
$tango = #ef7f1b
$pomegranate = #ef471a
$green = #00ff18
$white = #fff
$black = #000

